# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.whl

# Virtual environments
.venv
venv/
/venv/
# Windows at the root of the drive
# env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Environment files
.env
.flaskenv

# Editor directories and files
.idea/  # For PyCharm/IntelliJ
.vscode/ # For VS Code
*.swp
